.Encriptador-titulo{
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 20ch;
    animation: typing 3s steps(20), 
blink .5s infinite step-end alternate,
hide-cursor 0s 5s forwards;
    overflow: hidden;
    font-size: 50px;
    color: #76c893;
    margin-left: 17%;
    font-weight: bold;
    position: relative;
    top: 35px;
    
}

@keyframes typing {
    from { width: 0;}
}

@keyframes blink {
    50% { border-color: transparent;}
}

@keyframes hide-cursor {
    to { border-color: transparent; }
}

.container-bar {
    width: 100%;
    max-width: 55px;
    left: 5px;
    position: fixed;
    top: 17.5%;
    padding: 10px;
    margin: 10px;
}

.container-bar a{
    display: block;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
    position: relative;
    transition: all 500ms ease;
    color: #fff;
}

.container-bar a:hover{
    filter: brightness(75%);
    animation: destello infinite ease-out;
  }
  
  @keyframes destello {
    0% {
      filter: brightness(75%);
    }
    50% {
      filter: brightness(150%);
    }
    100% {
      filter: brightness(150%);
    }
  }

.container-bar .icon-linkedin{
    background-image: url('img/linkedin.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    margin-top: 13px;
}
.container-bar .icon-github{
    background: white;
    background-image: url('img/github-sign.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 11px;
    outline: none;
    margin-top: 13px;
}
.container-bar .icon-instagram{
    background-image: url('img/instagram.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    margin-top: 13px;
}
.container-bar .icon-portfolio{
    background: white;
    background-image: url('img/portfolio.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 11px;
    margin-top: 13px;
}

#btn-social{
    display: none;
}

.container-bar label.icon-play{
    background-image: url("img/play.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    padding-left: 30px;
    transition: transform 0.4s ease-in-out;
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.container-bar #btn-social:checked + label.icon-play {
    transform: translateX(-10px) rotateY(180deg);
}

.icon-social{
    transition: 0.4s ;
    transform: translateX(-150%);
}

.container-bar #btn-social:checked ~ .icon-social {
    transform: translateX(0%);
    margin-left: 50px;
}
  
.container{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #023047;
}

.texto{
    position: absolute;
    width: 39%;
    height: 60%;
    left: 12%;
    top: 16%;
    border: none;
    padding: 15px;
    resize: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: #023047;
    /*box-shadow: 0px 34px 42px -8px rgba(0, 0, 0, 0.3);*/
    border-radius: 15px;
    transition: 0.5s;
}

.texto::placeholder {
    color: white;
}

.texto:focus,
.texto:active {
    border: none;
    outline: none;
    color: white;
}

.terminos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:  0px;
    gap: 8px; /* espaciamiento interno */
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%; 
}

.terminos p{
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: white;
    opacity: 1;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 82%;
}

.btn-encriptar {
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 30%;
    background-color: #76c893;
    border-radius: 15px;
    border: none;
    font-family: "Inter";
    font-size: 20px;
    line-height: 5px;
    text-align: center;
    color: white;
    margin-right: 17px;
    transition: 0.5s;
    box-shadow: 0px 34px 42px -8px rgba(0, 0, 0, 0.2);

}

.btn-desencriptar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 30%;
    background: #d8dfe8;
    border: 1px solid #76c893;
    border-radius: 15px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 20px;
    line-height: 5px;
    text-align: center;
    color: #58946d;
    margin-right: 20px;
    transition: 0.5s;
    box-shadow: 0px 34px 42px -8px rgba(0, 0, 0, 0.2);
}

.btn-desencriptar:hover {
    transform: scale(1.01);
}

.btn-encriptar:hover{
    transform: scale(1.01);
}

.respuesta {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 65%;
    top: 5%;
    background: #76c893;
    box-shadow: 0px 34px 42px -8px rgba(0, 0, 0, 0.2);
    border-radius: 32px;
    transition: 0.5s;
    /*display: none;*/
}

.btn-respuesta{
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 30%;
    height: 40px;
    margin-top: 130%;
    background-color: white;
    border-radius: 15px;
    border: none;
    font-family: "Inter";
    font-size: 20px;
    line-height: 5px;
    text-align: center;
    color: #76c893;
    margin-right: 17px;
    transition: 0.5s;
    box-shadow: 0px 34px 42px -8px rgba(0, 0, 0, 0.2);
}

.btn-respuesta:hover{
    transform: scale(1.01);
}

.mensaje{
    position: absolute;
    width: 75%;
    height: 70%;
    left: 10%;
    top: 5%;
    border: none;
    padding: 15px;
    resize: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: #76c893;
    /*box-shadow: 0px 34px 42px -8px rgba(0, 0, 0, 0.3);*/
    border-radius: 15px;
    transition: 0.5s;
}

.mensaje:focus,
.mensaje:active {
    border: none;
    outline: none;
    color: white;
}

.encriptado{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 65%;
    top: 5%;
    background: #76c893;
    box-shadow: 0px 34px 42px -8px rgba(0, 0, 0, 0.2);
    border-radius: 32px;
    transition: 0.5s;
}

.encriptado:hover{
    transform: scale(1.01);
    box-shadow: 0px 34px 42px -8px rgba(0, 0, 0, 0.8);
}

.mensaje-encriptado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 70%;
    text-align: center;  
}

.mensaje-encriptado h2{
    width: 60%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    text-align: center;
    color: #343a40;
}

.mensaje-encriptado p{
    width: 80%;
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;

}

.encriptado img{
    position: absolute;
    width: 80%;
    height: 50%;
    top: 15%;
}

/* Responsive desing */

@media only screen 
and (min-width : 1224px) {
    .Encriptador-titulo{
        display: flex;
        flex-direction: row;
        font-size: 45px;
        margin-left: 17%;
    }
}

@media (max-width: 57.5em) {

    .Encriptador-titulo{
        display: flex;
        flex-direction: row;
        font-size: 20px;
    }

    .container {
        display: flex;
        flex-direction: row;
       
    }

    .encriptar {
        width: 100%;
    }

    .texto {
        width: 80%;
        height: 50%;
        left: 7%;
        top: 10%;
    }

    .terminos {
        width: 80%;
        left: 10%;
        top: 64%;
    }

    .terminos p{
        font-size: 13px;  
    }

    .botones {
        width: 80%;
        left: 10%;
        top: 67%;
        height: 40px;
    }

    .btn-encriptar,
    .btn-desencriptar {
        width: 48%;
        height: 35px;
        border-radius: 16px;
        margin-right: 17px;
    
    }

    .btn-encriptar:hover,
    .btn-desencriptar:hover {
        margin: 0.3%;
        width: 47.5%;
        margin-right: 17px;
       
    } 

    .encriptado {
        width: 80%;
        height: 24%;
        left: 10%;
        top: 76%;

    }
    .respuesta {
        width: 80%;
        height: 24%;
        left: 10%;
        top: 76%;

    }

    .btn-respuesta {
        top: 75%;
        margin-top: 43%;
    }

    .mensaje-encriptado {
        width: 70%;
        top: 5%;
        padding: 1%;
    }

    .mensaje {
        height: 40%;
    }

    .encriptado h2, .encriptado p {
        font-size: 15px;
    }

    .encriptado img {
        top: 0;
        display: none;
        visibility: hidden;
    }
}